.bgImg {
  background: url(./assets/pexels-engin-akyurt-10221759.jpg) no-repeat center center fixed; 
  background-size: cover;
  min-height: 94.1vh;
}

.labBG {
  background: url(./assets/lab.jpg) no-repeat center center fixed; 
  background-size: cover;
  min-height: 94.1vh;
}

.blueBG {
  background: url(./assets/lightblue.jpg) no-repeat center center fixed; 
  background-size: cover;
  min-height: 94.1vh;
}

.intelBG {
  background: url(./assets/intel-robert-noyce-bldg-2-100945374-orig.webp) no-repeat center center fixed; 
  background-size: cover;
  min-height: 94.1vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #555555;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
